<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@color/black"
            android:label="@string/app_name"
            android:roundIcon="@color/black"
            android:supportsRtl="true"
            android:theme="@style/Theme.LearnJetpackCompose">
        <activity
                android:name=".learn.components.search_bars.SearchBars"
                android:exported="false"
                android:label="@string/title_activity_search_bars"
                android:theme="@style/Theme.LearnJetpackCompose"/>
        <activity
                android:name=".learn.components.pull_to_refresh_boxes.PullToRefreshBoxes"
                android:exported="false"
                android:label="@string/title_activity_pull_to_refresh_boxes"
                android:theme="@style/Theme.LearnJetpackCompose"/>
        <activity
                android:name=".learn.components.progress_indicators.ProgressIndicators"
                android:exported="false"
                android:label="@string/title_activity_progress_indicators"
                android:theme="@style/Theme.LearnJetpackCompose"/>
        <activity
                android:name=".learn.components.navigation_drawers.NavigationDrawers"
                android:exported="false"
                android:label="@string/title_activity_navigation_drawers"
                android:theme="@style/Theme.LearnJetpackCompose"/>
        <activity
                android:name=".learn.components.scaffolds.Scaffolds"
                android:exported="false"
                android:label="@string/title_activity_scaffolds"
                android:theme="@style/Theme.LearnJetpackCompose"/>
        <activity
                android:name=".learn.components.menus.Menus"
                android:exported="false"
                android:label="@string/title_activity_menus"
                android:theme="@style/Theme.LearnJetpackCompose"/>
        <activity
                android:name=".learn.components.buttons.floating_action_buttons.FloatingActionButtons"
                android:exported="false"
                android:label="@string/title_activity_floating_action_buttons"
                android:theme="@style/Theme.LearnJetpackCompose"/>
        <activity
                android:name=".learn.components.dialogs.Dialogs"
                android:exported="false"
                android:label="@string/title_activity_dialogs"
                android:theme="@style/Theme.LearnJetpackCompose"/>
        <activity
                android:name=".learn.components.column_and_row_types.normal.Normal"
                android:exported="false"
                android:label="@string/title_activity_normal"
                android:theme="@style/Theme.LearnJetpackCompose"/>
        <activity
                android:name=".learn.components.chips.Chips"
                android:exported="false"
                android:label="@string/title_activity_chips"
                android:theme="@style/Theme.LearnJetpackCompose"/>
        <activity
                android:name=".learn.components.checkboxes.Checkboxes"
                android:exported="false"
                android:label="@string/title_activity_checkboxes"
                android:theme="@style/Theme.LearnJetpackCompose"/>
        <activity
                android:name=".learn.components.cards.Cards"
                android:exported="false"
                android:label="@string/title_activity_cards"
                android:theme="@style/Theme.LearnJetpackCompose"/>
        <activity
                android:name=".learn.components.modal_bottom_sheets.ModalBottomSheets"
                android:exported="false"
                android:label="@string/title_activity_modal_bottom_sheets"
                android:theme="@style/Theme.LearnJetpackCompose"/>
        <activity
                android:name=".learn.components.column_and_row_types.lazy.Lazy"
                android:exported="false"
                android:label="@string/title_activity_lazy"
                android:theme="@style/Theme.LearnJetpackCompose"/>
        <activity
                android:name=".learn.components.layouts.Layouts"
                android:exported="false"
                android:label="@string/title_activity_layouts"
                android:theme="@style/Theme.LearnJetpackCompose"/>
        <activity
                android:name=".learn.components.images.Images"
                android:exported="false"
                android:label="@string/title_activity_images"
                android:theme="@style/Theme.LearnJetpackCompose"/>
        <activity
                android:name=".learn.components.buttons.normal.Normal"
                android:exported="false"
                android:label="@string/title_activity_normal"
                android:theme="@style/Theme.LearnJetpackCompose"/>
        <activity
                android:name=".learn.components.texts.Texts"
                android:exported="false"
                android:label="@string/title_activity_texts"
                android:theme="@style/Theme.LearnJetpackCompose"/>
        <activity
                android:name=".learn.components.fields.Fields"
                android:exported="false"
                android:label="@string/title_activity_fields"
                android:theme="@style/Theme.LearnJetpackCompose"/>
        <activity
                android:name=".learn.components.text_and_typography.TextAndTypography"
                android:exported="false"
                android:label="@string/title_activity_text_and_typography"
                android:theme="@style/Theme.LearnJetpackCompose"/>
        <activity
                android:name=".learn.components.resource_access.ResourceAccess"
                android:exported="false"
                android:label="@string/title_activity_resource_access"
                android:theme="@style/Theme.LearnJetpackCompose"/>
        <activity
                android:name=".learn.components.first_app.FirstApp"
                android:exported="false"
                android:label="@string/title_activity_first_app"
                android:theme="@style/Theme.LearnJetpackCompose"/>
        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:theme="@style/Theme.LearnJetpackCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>