<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@color/black"
            android:label="@string/app_name"
            android:roundIcon="@color/black"
            android:supportsRtl="true"
            android:theme="@style/Theme.LearnJetpackCompose">
        <activity
                android:name=".concepts.check_boxes.Checkboxes"
                android:exported="false"
                android:label="@string/title_activity_check_boxes"
                android:theme="@style/Theme.LearnJetpackCompose"/>
        <activity
                android:name=".concepts.cards.Cards"
                android:exported="false"
                android:label="@string/title_activity_cards"
                android:theme="@style/Theme.LearnJetpackCompose"/>
        <activity
                android:name=".concepts.modal_bottom_sheets.ModalBottomSheets"
                android:exported="false"
                android:label="@string/title_activity_modal_bottom_sheets"
                android:theme="@style/Theme.LearnJetpackCompose"/>
        <activity
                android:name=".concepts.column_and_rows_types.lazy.Lazy"
                android:exported="false"
                android:label="@string/title_activity_lazy"
                android:theme="@style/Theme.LearnJetpackCompose"/>
        <activity
                android:name=".concepts.layouts.Layouts"
                android:exported="false"
                android:label="@string/title_activity_layouts"
                android:theme="@style/Theme.LearnJetpackCompose"/>
        <activity
                android:name=".concepts.images.Images"
                android:exported="false"
                android:label="@string/title_activity_images"
                android:theme="@style/Theme.LearnJetpackCompose"/>
        <activity
                android:name=".concepts.buttons.Buttons"
                android:exported="false"
                android:label="@string/title_activity_buttons"
                android:theme="@style/Theme.LearnJetpackCompose"/>
        <activity
                android:name=".concepts.texts.Texts"
                android:exported="false"
                android:label="@string/title_activity_texts"
                android:theme="@style/Theme.LearnJetpackCompose"/>
        <activity
                android:name=".concepts.fields.Field"
                android:exported="false"
                android:label="@string/title_activity_fields"
                android:theme="@style/Theme.LearnJetpackCompose"/>
        <activity
                android:name=".concepts.text_and_typography.TextAndTypography"
                android:exported="false"
                android:label="@string/title_activity_text_and_typography"
                android:theme="@style/Theme.LearnJetpackCompose"/>
        <activity
                android:name=".concepts.resource_access.ResourceAccess"
                android:exported="false"
                android:label="@string/title_activity_resource_access"
                android:theme="@style/Theme.LearnJetpackCompose"/>
        <activity
                android:name=".concepts.first_app.FirstApp"
                android:exported="false"
                android:label="@string/title_activity_first_app"
                android:theme="@style/Theme.LearnJetpackCompose"/>
        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:theme="@style/Theme.LearnJetpackCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>